popover {
  @extend %menu-border;

  modelbutton
  {
    padding:        0px;
    padding-top:    2px;
    padding-bottom: 2px;

    &:hover,
    &:active
    {
      background-color: $c-menuitem-selected-bg;
      color:            $c-menuitem-selected-fg;
    }
  }
}
